* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.hero {
  background-color: #1F2937;
  color: white;
  display: flex;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;
}

nav a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 16px;
}

header {
  justify-content: space-between;
  align-content: center;
  padding: 24px 48px 48px 48px;
}

.hero {
  display: flex;
  padding: 48px 15%;
  gap: 16px;
}

.heroleft {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.heroleft button {
  flex-basis: 0;
  max-width: 85px;
  background-color: #3882F6;
  padding: 4px;
  border-radius: 6px;
  border: none;
  color: #E5E7EB;
  font-size: 18px;
}

.hero img {
  flex: 1;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 8px 0;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.window2 h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  padding: 36px 0;
}

.cont1 {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 60px;
}



.box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 16px;
  margin-bottom: 6px;
}

.cont2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
  color: #1F2937;
  font-size: 17px;
}

.window3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 60px 15%;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 300;
  max-width: 780px;
}

.quotee {
  font-weight: bold;
  align-self: flex-end;

}



.cta {
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  width: 550px;
  padding: 30px 50px;
  margin: 60px auto;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  align-items: flex-end;
}

.button2 {
  padding: 2px 15px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #3882F6;
  color: white;
  max-height: 25px;
}

nav a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.692);
}